/* Set up reusable colors and styles */
:root {
    --dark: #505;
    --pale: #ffb;
    --h2Size: 30px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ddd;
}

/* Styling for the header and nav bar */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pale);
    color: var(--dark);
}

header h1 {
    display: inline-block;
    font-size: 2em;
    font-style: italic;

}

header h1 .big {
    font-size: 2.5em;
}

nav {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

/* Styling for personal information section */
.personal {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.personal img {
    flex: 0 1 100px;
}

.personal h2 {
    text-align: center;
    font-size: var(--h2Size);
    margin-left: 10px;
    margin-bottom: 15px;
}

.personal p {
    margin: 0 30px 15px 30px;
    margin-left: 30px;
    margin-bottom: 1em;
}




/* Styling for professional portfolio section */
.professional {
    text-align: center;
}

.professional h2 {
    font-size: var(--h2Size);
    margin-left: 10px;
    margin-bottom: 15px;
}
.professional img {
    width: 50%;
}

.professional .generalProjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.professional .project {
    width: 25%;
    margin: 10px 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 10px 10px;
    text-align: center;
}
/* Styling for contact section */
.contact {
    margin: 10px;
}

.contact h2 {
    font-size: var(--h2Size);
}

.contact .contactInfo {
    padding: 0;
    margin: 0 0 0 0;
    float: right;
    font-size: 1.5em;
}

.contact ul {
    list-style-type: none;
    float: right;
}

.contact ul li {
    display: inline-block;
    margin: 10px;
    border-style: solid;
}

/* Styling for footer */